body
  {
    background-image: url(galaxy.jpg);
    background-color: purple;
  }
.header
  {
    background-color: rgba(0, 0, 255, 0.5);
    background-size: auto;
  }
h1
  {
    text-align: center;
  }
.add-item i
  {
    display: flex;
    font-size: 30px;
    color: violet;
  }
  .search-item
    {
      position: relative;
      width: 360px;
      height:40px;
      padding: 10px;

  }
.search-item i
  {
    display: flex;
    font-size: 30px;
    color: violet;
  }
h1
  {
    color: white;
  }

.add-item
  {
    position: relative;
    width: 360px;
    height:40px;
    padding: 10px;
  }
  form input, form button
    {
      padding: 0.5rem;
      font-size: 2rem;
      border: none;
      background: white;
  }
  .add-item input{
      position: absolute;
      left: 50px;
      height: 35px;
      width: 310px;
      background-color: transparent;
      border: none;
      padding-left:10px;
      color: white;
  }

  .search-item input{
      position: absolute;
      left: 50px;
      height: 35px;
      width: 310px;
      background-color: transparent;
      border: none;
      padding-left:10px;
      color: white;
  }
  .items
    {
      width: 300px;
      height: 150px;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  .items li
    {
      background-color: rgba(153, 102, 255, .5);
      height: 100%;
      width: 150px;


      font-family: monospace;
      font-size: 20px;
      letter-spacing: 2px;
    }

  .each-item
    {
      color: white;

    }
